@model IEnumerable<Maersk_TP034870.Models.Schedule>

@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.arrivaldate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deptdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vessel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.arrivaldate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deptdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vessel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
